In [15]:
import pandas as pd
from pathlib import Path

current_dir = Path.cwd()
# 若 csv 與此 notebook 在同一資料夾
csv_path = current_dir / "台鐵車站資訊.csv"
stations_df = pd.read_csv(csv_path)
display(stations_df.head())
stations_df = stations_df.reindex(columns=["stationCode", "stationName"])

#欄位名稱更改為[車站代碼, 車站名稱]
stations_df.columns = ["車站代碼", "車站名稱"]
stations_df

,stationCode,stationName,name,stationAddrTw,stationTel,gps,haveBike
0,900,基隆,基隆,基隆市仁愛區港西街5號,02-24263743,25.13411 121.73997,Y
1,910,三坑,三坑,基隆市仁愛區德厚里龍安街 206 號,02-24230289,25.12305 121.74202,Y
2,920,八堵,八堵,基隆市暖暖區八南里八堵路 142 號,02-24560841,25.10843 121.72898,Y
3,930,七堵,七堵,基隆市七堵區長興里東新街 2 號,02-24553426,25.09294 121.71415,Y
4,940,百福,百福,基隆市七堵區堵南里明德三路 1 之 1 號,02-24528372,25.07795 121.69379,N

     車站代碼 車站名稱
0     900   基隆
1     910   三坑
2     920   八堵
3     930   七堵
4     940   百福
..    ...  ...
238  7360   瑞芳
239  7361  海科館
240  7362  八斗子
241  7380  四腳亭
242  7390   暖暖

[243 rows x 2 columns]

In [14]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}, index=['one', 'two', 'three'])

# 對行索引reindex，增加一個新索引，缺失填0
new_df = df.reindex(index=['one', 'two', 'three', 'four'], fill_value=0)

print(new_df)

       A  B
one    1  4
two    2  5
three  3  6
four   0  0