In [5]:
import pandas as pd
from pathlib import Path

current_dir = Path.cwd()
# 若 csv 與此 notebook 在同一資料夾
csv_path = current_dir / "台鐵車站資訊.csv"
stations_df = pd.read_csv(csv_path)
display(stations_df.head())
stations_df = stations_df.reindex(columns=["stationCode", "stationName"])

#欄位名稱更改為[車站代碼, 車站名稱]
stations_df.columns = ["車站代碼", "車站名稱"]
stations_df

,stationCode,stationName,name,stationAddrTw,stationTel,gps,haveBike
0,900,基隆,基隆,基隆市仁愛區港西街5號,02-24263743,25.13411 121.73997,Y
1,910,三坑,三坑,基隆市仁愛區德厚里龍安街 206 號,02-24230289,25.12305 121.74202,Y
2,920,八堵,八堵,基隆市暖暖區八南里八堵路 142 號,02-24560841,25.10843 121.72898,Y
3,930,七堵,七堵,基隆市七堵區長興里東新街 2 號,02-24553426,25.09294 121.71415,Y
4,940,百福,百福,基隆市七堵區堵南里明德三路 1 之 1 號,02-24528372,25.07795 121.69379,N

     車站代碼 車站名稱
0     900   基隆
1     910   三坑
2     920   八堵
3     930   七堵
4     940   百福
..    ...  ...
238  7360   瑞芳
239  7361  海科館
240  7362  八斗子
241  7380  四腳亭
242  7390   暖暖

[243 rows x 2 columns]

In [6]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}, index=['one', 'two', 'three'])

# 對行索引reindex，增加一個新索引，缺失填0
new_df = df.reindex(index=['one', 'two', 'three', 'four'], fill_value=0)

print(new_df)

       A  B
one    1  4
two    2  5
three  3  6
four   0  0

In [9]:
current_dir = Path.cwd()
# 若 csv 與此 notebook 在同一資料夾
csv_path = current_dir / "每日各站進出站人數2020.csv"
year_df = pd.read_csv(csv_path)
year_df.columns = ["日期", "車站代碼", "進站人數", "出站人數"]
display(year_df.head())
#日期欄位目前是int64，需要轉換為datetime格式
year_df["日期"] = pd.to_datetime(year_df["日期"], format="%Y%m%d")
year_df.info()

         日期  車站代碼  進站人數  出站人數
0  20200101   900  7552  8154
1  20200101   910  1020  1135
2  20200101   920  1623  1972
3  20200101   930  4130  4813
4  20200101   940  1818  2128

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86932 entries, 0 to 86931
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      86932 non-null  datetime64[ns]
 1   車站代碼    86932 non-null  int64
 2   進站人數    86932 non-null  int64
 3   出站人數    86932 non-null  int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 2.7 MB

In [10]:
merged_df_2020 = pd.merge(year_df, stations_df, on="車站代碼")
merged_df_2020 = merged_df_2020.reindex(columns=["日期", "車站名稱", "進站人數", "出站人數"])
merged_df_2020.head()
#將欄位:日期變為index
merged_df_2020.set_index("日期", inplace=True)

In [11]:
merged_df_2020.loc["2020-01-01"].query("車站名稱 == '臺北'")

           車站名稱   進站人數   出站人數
日期
2020-01-01   臺北  74444  57279

In [12]:
merged_df_2020.loc["2020-01-01"] #搜尋2020年1月1日的資料
merged_df_2020.loc["2020-01"]  #搜尋2020年1月的資料(索引是DatetimeIndex才能這樣用)
merged_df_2020.loc["2020-01":"2020-02"] #搜尋2020年1月至2月的資料
merged_df_2020.loc["2020-01":"2020-02"].query("車站名稱 == '基隆'") #搜尋基隆站的資料

           車站名稱  進站人數  出站人數
日期
2020-01-01   基隆  7552  8154
2020-01-02   基隆  7709  7240
2020-01-03   基隆  8713  8086
2020-01-04   基隆  8625  8407
2020-01-05   基隆  8015  7355
2020-01-06   基隆  7484  7124
2020-01-07   基隆  7529  7401
2020-01-08   基隆  7382  7030
2020-01-09   基隆  7916  7405
2020-01-10   基隆  9695  8944
2020-01-11   基隆  8356  8012
2020-01-12   基隆  7257  6637
2020-01-13   基隆  7154  6913
2020-01-14   基隆  7744  7102
2020-01-15   基隆  6155  6775
2020-01-16   基隆  8447  7936
2020-01-17   基隆  7965  7454
2020-01-18   基隆  7634  7280
2020-01-19   基隆  6923  6636
2020-01-20   基隆  7889  7302
2020-01-21   基隆  8248  7650
2020-01-22   基隆  7840  7859
2020-01-23   基隆  6009  6158
2020-01-24   基隆  4827  5694
2020-01-25   基隆  8749  7894
2020-01-26   基隆  7832  7367
2020-01-27   基隆  8688  8039
2020-01-28   基隆  8107  8206
2020-01-29   基隆  7093  6639
2020-01-30   基隆  7138  6668
2020-01-31   基隆  7980  7600
2020-02-01   基隆  6499  6593
2020-02-02   基隆  6736  6422
2020-02-03   基隆  7046  6658
2020-02-04   基隆  6693  6260
2020-02-05   基隆  6393  5827
2020-02-06   基隆  6576  5939
2020-02-07   基隆  6381  5139
2020-02-08   基隆  4586  4332
2020-02-09   基隆  4446  4292
2020-02-10   基隆  6180  5795
2020-02-11   基隆  5999  5591
2020-02-12   基隆  6562  5875
2020-02-13   基隆  6172  5674
2020-02-14   基隆  6892  6184
2020-02-15   基隆  6012  5467
2020-02-16   基隆  4205  4045
2020-02-17   基隆  5489  5534
2020-02-18   基隆  5952  5603
2020-02-19   基隆  6360  5875
2020-02-20   基隆  6347  5709
2020-02-21   基隆  6873  6428
2020-02-22   基隆  5184  5109
2020-02-23   基隆  4841  4504
2020-02-24   基隆  6525  6220
2020-02-25   基隆  6775  6237
2020-02-26   基隆  6426  5832
2020-02-27   基隆  6899  6419
2020-02-28   基隆  6312  5790
2020-02-29   基隆  5747  5442

In [13]:
merged_df_2020.loc["2020-01":"2020-02"].query("車站名稱 == '臺北'")

           車站名稱   進站人數   出站人數
日期
2020-01-01   臺北  74444  57279
2020-01-02   臺北  60656  60765
2020-01-03   臺北  67692  65289
2020-01-04   臺北  59475  58244
2020-01-05   臺北  57014  59480
2020-01-06   臺北  58573  58234
2020-01-07   臺北  57128  56398
2020-01-08   臺北  57239  56452
2020-01-09   臺北  69466  67960
2020-01-10   臺北  82586  71146
2020-01-11   臺北  63942  59520
2020-01-12   臺北  58723  68177
2020-01-13   臺北  62437  62529
2020-01-14   臺北  60036  59349
2020-01-15   臺北  57218  53385
2020-01-16   臺北  62129  62608
2020-01-17   臺北  68363  66080
2020-01-18   臺北  61584  62163
2020-01-19   臺北  58644  60469
2020-01-20   臺北  66295  63848
2020-01-21   臺北  67240  62643
2020-01-22   臺北  71853  62696
2020-01-23   臺北  59488  42593
2020-01-24   臺北  46607  32457
2020-01-25   臺北  56570  52365
2020-01-26   臺北  55498  54743
2020-01-27   臺北  57837  63874
2020-01-28   臺北  53455  65609
2020-01-29   臺北  47482  60188
2020-01-30   臺北  54856  61889
2020-01-31   臺北  60054  63190
2020-02-01   臺北  54509  55151
2020-02-02   臺北  50780  52375
2020-02-03   臺北  57079  57580
2020-02-04   臺北  53481  51863
2020-02-05   臺北  52435  52550
2020-02-06   臺北  55065  55532
2020-02-07   臺北  61420  59394
2020-02-08   臺北  50767  46234
2020-02-09   臺北  45142  48878
2020-02-10   臺北  53644  53560
2020-02-11   臺北  51127  50568
2020-02-12   臺北  52466  52263
2020-02-13   臺北  51404  51561
2020-02-14   臺北  57200  56847
2020-02-15   臺北  52374  50926
2020-02-16   臺北  43981  45179
2020-02-17   臺北  50087  50061
2020-02-18   臺北  49822  49312
2020-02-19   臺北  51803  50331
2020-02-20   臺北  50218  50592
2020-02-21   臺北  59592  56376
2020-02-22   臺北  46950  44343
2020-02-23   臺北  43481  46885
2020-02-24   臺北  50803  51403
2020-02-25   臺北  48673  48015
2020-02-26   臺北  49020  47705
2020-02-27   臺北  62487  55014
2020-02-28   臺北  54395  43354
2020-02-29   臺北  40006  42224

In [15]:
merged_df_2020= pd.merge(year_df, stations_df, on="車站代碼")
merged_df_2020 = merged_df_2020.reindex(columns=["日期","車站名稱","進站人數","出站人數"])
merged_df_2020.head()
#將欄位:日期,變為index
merged_df_2020.set_index("日期", inplace=True)

In [18]:
df1 = merged_df_2020.groupby("車站名稱")[['進站人數','出站人數']].agg([('平均','mean'),('標準差','std')])
# 將所有數值去除小數點（四捨五入取整數）
df1 = df1.round(0).astype(int)
df1

      進站人數        出站人數
        平均   標準差    平均   標準差
車站名稱
七堵    5529  1073  5616  1112
三坑    1249   191  1274   190
三塊厝    403    83   438   106
三姓橋   1055   292   944   179
三民       8     5    11     6
...    ...   ...   ...   ...
鼓山     199    39   207    37
龍井     354    97   345   132
龍泉      16    11    18    19
龍港      15     7    20     9
龜山      92    23    88    24

[239 rows x 4 columns]