In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.511349 -1.922250
1    a  two -0.952611 -1.088531
2    b  one  0.496092 -0.968062
3    b  two -0.710073 -1.474042
4    a  one  0.388578 -1.343888

In [9]:
df.groupby('key1') #以key1為索引進行分組,DataFrame執行Groupby
# compute mean only for numeric columns (avoid applying mean to object columns)
mean_df = df.groupby('key1')[['data1', 'data2']].mean()

In [ ]:
mean_df.stack()

       key1
data1  a      -0.358461
       b      -0.106991
data2  a      -1.451556
       b      -1.221052
dtype: float64

In [21]:
df1 = df.groupby('key1')[['data1', 'data2']].agg(['mean', 'std'])
df1.columns.names = ['資料', '統計']
df1.index.name = '類別'
# 樞紐分析表 -> 三維資料
df1.stack(level="統計", future_stack=True)
df1.stack(level="資料", future_stack=True)

統計            mean       std
類別 資料
a  data1 -0.358461  0.683541
   data2 -1.451556  0.427161
b  data1 -0.106991  0.852888
   data2 -1.221052  0.357782