In [12]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.479287  1.423057
1    a  two -1.275591  0.163379
2    b  one -0.638083 -0.671165
3    b  two  0.152610  0.077391
4    a  one  1.374843  0.835649

In [13]:
# Series Groupby
display(df['data1'])
display(df['key1'])
df['data1'].groupby(df['key1']) #Series執行Groupby
df['data1'].groupby(df['key1']).mean() #計算平均值

0    0.479287
1   -1.275591
2   -0.638083
3    0.152610
4    1.374843
Name: data1, dtype: float64

0    a
1    a
2    b
3    b
4    a
Name: key1, dtype: object

key1
a    0.192846
b   -0.242736
Name: data1, dtype: float64

In [14]:
df['data1'].groupby(df['key1']).agg(['mean', 'std']) #直接計算出平均值和標準差

          mean       std
key1
a     0.192846  1.348234
b    -0.242736  0.559105

In [15]:
df['data1'].groupby([df['key1'], df['key2']]).mean()

key1  key2
a     one     0.927065
      two    -1.275591
b     one    -0.638083
      two     0.152610
Name: data1, dtype: float64

In [ ]:
df['data1'].groupby([df['key2'], df['key1']]).mean()  #稱為長資料(堆疊資料)

key2  key1
one   a       0.927065
      b      -0.638083
two   a      -1.275591
      b       0.152610
Name: data1, dtype: float64

In [ ]:
mean = df['data1'].groupby([df['key1'], df['key2']]).mean()
mean.unstack() #同樣是二維資料，unstack()將內層的key變成欄位 -> 1組索引、1組欄位，稱為寬資料(非堆疊資料)

key2       one       two
key1
a     0.927065 -1.275591
b    -0.638083  0.152610

In [18]:
mean.unstack().stack() #反向操作

key1  key2
a     one     0.927065
      two    -1.275591
b     one    -0.638083
      two     0.152610
dtype: float64